@use "../../variables";

.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem;
    width: 1200px;
    align-items: center;
    border-bottom: 1px solid variables.$border-color;

    &__nav-list {
        display: flex;
        list-style: none;
        gap: 2rem;
        align-items: center;
    }

    &__sign-in {
        background-color: variables.$signin-button;
        border: 1px solid variables.$sigin-button-border;
        color: variables.$secondary-color;
        border-radius: 8px;
        width: 83px;
        height: 32px;
    }

    &__register {
        background-color: variables.$secondary-color;
        color: variables.$primary-color;
        border: none;
        border-radius: 8px;
        width: 83px;
        height: 32px;
    }

    &__link--active {
        background-color: variables.$active-color;
        padding: 0 0.5rem;
        border-radius: 5px;
    }
}